$primary-bg-color: #222222;
$secondary-bg-color: #555555;
$accent-bg-color: rgba(255, 255, 255, 0.1);
$white: white;
$black: black;

$font-family: "Inter", sans-serif;

$font-size-small: 1.25rem;
$font-size-medium: 1.5rem;
$font-size-large: 2.5rem;
$font-size-xlarge: 2rem;
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
